.flex-col{
    display: flex;
    flex-direction: column;
}

.size-title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.custom-input {
    width: 70%; /* Ajuste à 70% de la largeur du parent */
    max-width: 600px; /* Limite à une largeur maximale plus grande */
    min-width: 300px; /* Augmente la largeur minimale */
  }

.padding-perso {
    padding: 20px 30px 20px 30px;
}

.pt-5{
    padding-top: 5%;
}

.rounded-xlg{
    border-radius: 1.5rem;
}
.shadow-xlg{
    box-shadow: 0px 15px 50px -5px rgba(0, 0, 0, 0.25);
}

.bg-custom-wallpaper {
    background-color: #a2bcee; /* Remplacez cette couleur par celle de votre choix */
}

.bg-custom {
    background-color: #a2bcee; /* Remplacez cette couleur par celle de votre choix */
}

.text-red-700{
    color: #f56565;
    /*bold*/
    font-weight: 700;
}

.bg-custom:hover {
    background-color: #2972e7; /* Couleur au hover */
  }
  
.bg-custom:focus {
outline: 4px solid #b3c2e4; /* Anneau de focus */
}

.bg-red-700{
    background-color: #df3e3e;
}

.bg-red-700:hover {
    background-color: #d30101; /* Rouge foncé pour le hover */
  }

.bg-red-700:focus {
box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.3); /* Effet de focus */
}

.m-5{
    margin: 5px;
}